{% extends 'polls/base.html' %}

{% block content %}

<form method="post">{% csrf_token %}
    <div class="p-3 mb-2 bg-warning text-dark">
        <p class="font-weight-bold">Are you sure you want to delete "{{ object }}"?</p>
        <p class="font-weight-bold">{{ total_votes }} vote{{ total_votes|pluralize }} will also be deleted!</p>
        <input class="btn btn-danger" type="submit" value="Confirm">
        <button onclick="window.history.back();" class="btn btn-info" type="button">Cancel</button>
    </div>
</form>

{% endblock content %}